.board {
    display: flex;
    flex-flow: row wrap;
    width: 607px;
}

.cell {
    height: 72px;
    width: 72px;
}

.cell.black {
    background-color: var(--cell-black);
}

.cell.white {
    background-color: var(--cell-white);
}

.piece {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece>img {
    height: 80%;
    width: 80%;
}